# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environment
venv/
.env

# Selenium / browser
.profile
*.log

# Data outputs
data/raw/
data/processed/*.parquet

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
